.logo-text {
  font-family: Papyrus, fantasy;
}

.text {
  font-family: Papyrus, fantasy;
  color: maroon;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.header-row {
  background: maroon;
}

.background_image {
}
