<h1>What cause do you want to play for, <%= @user.email %>?</h1>

<h2>Options:</h2>

<ul>
    <% @games.each do |game| %>
        <li><h1><a href="<%= user_game_path(@user.id, game.id) %>" class="game-link text"><%= game.name %></a></h1></li>
    <% end %>
</ul>