<div class="jumbotron text-center">
  <h1 class="">Game TAO</h1>
  <p>Game TAO is a project intended to reclaim a bit of our consumer power and use if for some good.
   Every day, millions of people hop online to play a simple game or two.  Those games are created by and hosted by companies.
  Those companies then collect advertisement dollars from the ads they display to you.
  That money doesn't really do anything other than pay the wages of employees and get transferred to investors.
  But why does that matter to you? All you want to do is play games.</p>

  <p>What if you could continue to play those games and at the same time, feel good about it.
  Well, I guess that is what this project is about.  Here we try to Game to aid others.  Meaning, that every time you play a game,
  half of all the ad revenue we receive from your game play will be donated to a cause you select.  It's that simple.  We log the time you play
  (and don't worry, we'll never tell anyone how much you play) and simply divide the money among the different causes our users are playing for.  Then,
  and only then, will we hopefully have enough left to eat.</p>

  <p>This is a very new project, so if you have any feedback, ideas, some games we can host, or some idle hands, just shoot us an <a href="mailto:gametoaidothers@gmail.com">email</a>.</p>
</div>