
<h1 class="col-md-8 col-md-offset-2 text">We're very sorry, but the monkeys are on the typewriters right now coming up with a wonderful About page.</h1>
<h2 class="col-md-6 col-md-offset-3 text">Thanks for your patience!</h2>
<div class="row">
<div class="img-rounded col-md-4 col-md-offset-4">
  <img src="http://www.eonthefastlane.com/wp-content/uploads/2014/01/Website-Under-Construction-Image.jpg">
</div>
</div>